//seccion detalle de proyectos

#detalle-proyectos {
  // height: 100%;

  .detail-content {
    .detail-text {
      height: 80vh;
      overflow: scroll;

      p {
        font-size: 20px;
      }
    }

    .owl-image {
      height: 75vh;
    }
  }

  //botones para el carrousel de proyectos
  .owl-carousel {
    .owl-nav {
      display: flex;
      justify-content: flex-end;

      .owl-next {
        height: 40px;
        width: 40px;
        color: $color-secondary-text;
        background-color: $color-primary-text;
      }

      .owl-prev {
        height: 40px;
        width: 40px;
        color: $color-primary-text;
        background-color: $color-principal;
      }
    }
  }

  .datos-proyectos {
    margin-bottom: 1%h;
  }

  // .descripcion-inversion {
  //   margin-top: 15vh;
  //   margin-bottom: 15vh;
  // }

  .img-modal {
    width: 100%;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .modal-dialog {
    .modal-content {
      background-color: $color-principal;
    }

    .botones-compartir {
      color: $color-secundario;
    }

    .close-modal {
      padding: 5px;
      text-align: center;
      color: $color-negro-500;
      height: 25px;
      width: 25px;
      background-color: $color-secundario;
    }

    .close {
      font-size: 1rem;
      text-shadow: none;
      opacity: 1;
    }
  }


  .custom_overlay_wrapper {
    position: relative;
    color: $color-secondary-text;

    .custom_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: $color-negro-600;
      opacity: 0;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;

      .custom_overlay_inner {
        position: absolute;
        color: $color-secondary-text;
        top: 50%;
        left: 10px;
        right: 10px;
        transform: translateY(-50%);
        padding: 5%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      .h4 {
        position: relative;
        margin-bottom: 4px;
      }

      .p {
        color: $color-secondary-text;
        line-height: 1.4em;
      }
    }
  }


  .proyectos-button {
    width: 70%;
    border: solid 5px;
    color: $color-secondary-text;
    background-color: transparent;

    a {
      color: $color-secondary-text;
    }
  }
}