#estudio {
  overflow: hidden;

  .article_container {
    display: flex;
    align-content: space-between;

    .equipo-img {
      width: 35%;
      padding: 0;

      img {
        width: 70%;
        background-position: center;
      }
    }

    .frase-estudio {
      padding: 10% 10% 5% 0%;
      font-size: 16px;
      height: 70vh;
    }
  }
}
