// Inicio footer
.designed-by {
  p {
    font-family: $fuente-devplay;
    margin-bottom: 0;
    color: $color-secondary-text;
    text-align: center;
    padding: 10px;
    font-size: 18px;

    img {
      width: 100px;
    }
  }
}

// Fin footer
