body {
  color: $color-secundario;
  padding-left: 20%;
  // font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

// #estudio
.logo-domo {
  position: fixed;
  img {
    top: 2vh;
    width: 80px;
    height: 80px;
    left: 35vh;
    z-index: 2000;
  }
}

main {
  position: relative;
  height: 100vh;

  .sections-content {
    position: absolute;
    border-radius: 20px;
    font-size: 1rem;
  }
}

.secciones {
  padding-left: 10vh;
  height: 100vh;

  .titulo-seccion {
    padding-top: 5vh;
    margin-bottom: 5vh;
    z-index: 99;
  }
}

.btn-domo {
  .btn-secondary {
    a {
      font-size: 14px;
      text-decoration: none;
      color: $color-secondary-text;
    }
  }

  .btn1 {
    border: transparent;
    border-radius: 0;
    background-color: $color-secundario;
    text-decoration: none;
    width: 150px;
    height: 40px;

    a {
      color: $color-secondary-text;
    }
  }

  .btn1:hover a {
    color: $color-secondary-text;
  }

  .btn2 {
    border: transparent;
    border-radius: 0;
    background-color: $color-secundario;
    width: 40px;
    height: 40px;
  }
}

.top-scroller {
  position: fixed;
  bottom: 100px;
  right: 10px;
  font-size: 1em;
  display: none;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: $color-principal;
  color: #fff;
  line-height: 40px;
  &:hover {
    background: $color-secundario;
  }
}
