//Generales
body {
  color: $color-secundario;
  padding-left: 240px;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.logo-domo {
  img {
    position: fixed;
    top: 2vh;
    width: 80px;
    height: 80px;
    left: 31vh;
    z-index: 90;
  }
}

main {
  position: relative;
  height: 100vh;

  .sections-content {
    position: absolute;
    border-radius: 20px;
    font-size: 1rem;
  }
}

.secciones {
  padding-left: 10vh;
  height: 100vh;

  .titulo-seccion {
    padding-top: 5vh;
    margin-bottom: 5vh;
    z-index: 99;
  }
}

.btn-domo {
  padding-top: 5%;

  .btn-secondary {
    a {
      text-decoration: none;
      color: $color-secondary-text;
    }
  }

  .btn1 {
    border: transparent;
    border-radius: 0;
    background-color: $color-principal;
    text-decoration: none;
    width: 134px;

    a {
      color: $color-primary-text;
    }
  }

  .btn1:hover a {
    color: $color-secondary-text;
  }

  .btn2 {
    border: transparent;
    border-radius: 0;
    background-color: $color-secundario;
    width: 40px;
    height: 40px;
  }
}
