.container-portada {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.carousel-caption {
  z-index: 0;
  .carousel-text {
    font-size: 2.2rem;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    padding: 2%;
    width: 50%;
    color: $color-secundario;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.carousel-image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#caption_1 {
  left: 56%;
  bottom: 5%;
  width: 80% !important;
}

#caption_2, #caption_3 {
  margin-left: -10% !important;
}

.carousel-indicators {
  display: flex;
  width: 80%;
  justify-content: flex-end;

  li {
    height: 15px;
    width: 15px;
  }

  .active {
    background-color: $color-principal;
  }
}
