//seccion proyectos

#proyectos {
  .project-content {
    .project-text {
      height: 80vh;

      p {
        font-size: 20px;
      }
    }

    .owl-image {
      height: 75vh;
    }

    .owl-image:hover {
      background-color: $color-negro-600;
      color: $color-primary-text;
    }
  }

  //botones para el carrousel de proyectos
  .owl-carousel {
    .owl-nav {
      display: flex;
      justify-content: flex-end;

      .owl-next {
        height: 40px;
        width: 40px;
        color: $color-secondary-text;
        background-color: $color-primary-text;
      }

      .owl-prev {
        height: 40px;
        width: 40px;
        color: $color-primary-text;
        background-color: $color-principal;
      }
    }
  }

  .frase-proyectos {
    padding: 5% 10% 5% 0%;
    font-size: 20px;
  }

  // .hoverfx {
  //   position: relative;
  //   display: block;
  //   overflow: hidden;
  //   text-align: center;
  // }

  // .hoverfx:before {
  //   display: inline-block;
  //   padding-top: 60%;
  //   content: '';
  //   vertical-align: middle;
  // }

  // .hoverfx,
  // .overlay:hover {
  // position: absolute;
  // top: 0;
  // z-index: 1;
  // padding: 50%;
  // background: rgba(0, 0, 0, .7);
  // opacity: .8;
  // -webkit-transition: all .3s ease;
  // -moz-transition: all .3s ease;
  // -o-transition: all .3s ease;
  // transition-property: all .3s ease;
  // }

  // .item {
  // position: relative;
  // opacity: .8;
  // }
  .hoverfx {
    // position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  .hoverfx img {
    position: absolute;
    // left: 0;
    // width: 100%;
  }

  .hoverfx::before {
    display: inline-block;
    // padding-top: 60%;
    // content: '';
    // vertical-align: middle;
  }

  // .hoverfx .figure {
  //   position: relative;
  //   z-index: 2;
  //   display: inline-block;
  //   padding: 10px 15px;
  //   max-width: 60%;
  //   border: 3px solid #e9e9e9;
  //   color: #ecf0f1;
  //   vertical-align: middle;
  //   text-transform: uppercase;
  //   font-size: 1.2rem;
  //   opacity: 0;
  // -webkit-transition: all .3s ease;
  // -moz-transition: all .3s ease;
  // -o-transition: all .3s ease;
  // transition-property: all .3s ease;
  // }

  // .hoverfx .figure:hover {
  //   background: #e9e9e9;
  //   color: #333;
  // }

  .hoverfx .overlay {
    position: absolute;
    padding: 100%;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: $color-negro-600;
    opacity: 0;
    // -webkit-transition: all .3s ease;
    // -moz-transition: all .3s ease;
    // -o-transition: all .3s ease;
    transition-property: all 0.3s ease;
  }

  .item:hover,
  .item:hover .overlay {
    opacity: 1;
  }
}

.datos-proyectos {
  margin-bottom: 15vh;
}

.descripcion-inversion {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.img-modal {
  width: 100%;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 0.5rem;
  margin: 0.5rem;
}

.modal-dialog {
  .modal-content {
    background-color: $color-principal;
  }

  .botones-compartir {
    color: $color-secundario;
  }

  .close-modal {
    padding: 5px;
    text-align: center;
    color: $color-negro-500;
    height: 25px;
    width: 25px;
    background-color: $color-secundario;
  }

  .close {
    font-size: 1rem;
    text-shadow: none;
    opacity: 1;
  }
}

.hover-proyectos {
  color: $color-secondary-text;
}

.hover-proyectos .overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: $color-negro-600;
  opacity: 0;
  // -webkit-transition: all .3s ease;
  // -moz-transition: all .3s ease;
  // -o-transition: all .3s ease;
  transition-property: all 0.3s ease;
}

.item:hover,
.item:hover .overlay {
  opacity: 1;
}

.hover-proyectos img {
  position: absolute;
}

.proyectos-button {
  width: 70%;
  border: solid 5px;
  color: $color-secondary-text;
  background-color: transparent;

  a {
    color: $color-secondary-text;
  }
}
