// Media Queries
@media screen and (max-width: 1200px) {

  .carousel-text {
    font-size: 1.5rem;
  }
  .secciones {
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .secciones {
    padding-left: 4vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 35px;
    z-index: 99;
  }

  #caption_1, 
  #caption_2,
  #caption_3,
  #caption_4 {
    left: 25% !important;
    bottom: 5%;
    margin: auto !important;;
    width: 100% !important;
  
  }
  .carousel-text{
    width: 60% !important;
  }

  #estudio {
    .article_container {
      // flex-direction: row;
      .equipo-img {
        width: 100%;
        img {
          width: 80%;
        }
      }
      .frase-estudio {
        font-size: 14px;
      }
    }
  }
  #premios {
    .premios-container {
      justify-content: space-evenly;
    }
  }
  #contacto {
    .send-button {
      margin-top: 4%;
      text-align: center;
    }
    .resp-margin {
      margin-bottom: 10%;

      .imagen-contacto {
        display: none;
      }
      .contact {
        margin-top: 10%;
        font-size: 16px;
      }
    }
  }
  #footer {
    .designed-by {
      p {
        font-size: 14px;
      }

      img {
        width: 80px;
      }
    }
  }

  #detalle-proyectos {
    .detail-content {
      height: 100% !important;
    }
  }

  .menu {
    width: 40px;
    z-index: 99;

    .hamburguer-menu-trigger {
      display: block;
      position: absolute;
      top: 5%;
      left: 10%;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    .hamburguer-menu-trigger input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }

    /*
       * Just a quick hamburger
       */
    .hamburguer-menu-trigger span {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      opacity: 0;
      background: rgb(29, 28, 28);
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    .hamburguer-menu-trigger span:first-child {
      transform-origin: 0% 0%;
    }

    .hamburguer-menu-trigger span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    .hamburguer-menu-trigger input:checked ~ span {
      opacity: 1;
      transform: rotate(48deg) translate(-3px, -2px);
      margin-left: 10px;
    }

    .hamburguer-menu-trigger input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .hamburguer-menu-trigger input:checked ~ span:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }

    .hamburguer-menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 0;
      padding-top: 25px;
      left: -10px;
      background: $color-principal;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      .menu-logo {
        height: 15vh;
      }

      .hamburguer-menu-items {
        list-style: none;
        margin: 30px 0px 0px 0px;
        height: 55vh;
        padding: 25%;
        li {
          height: 50px;
          transition: all 0.15s linear;
          cursor: pointer;

          a:hover {
            text-decoration: none;
            color: $color-secondary-text;
          }

          ul {
            li {
              padding: 0;
            }
          }
        }
      }
    }

    .hamburguer-menu-social {
      background: #000;
      color: #fff;
      text-align: left;
      font-size: 1rem;
      padding: 5% 5% 0% 5%;
      height: 30vh;

      ul {
        list-style: none;

        li {
          height: auto;
          padding: 0.5em 1em 0em 1.5em;

          a {
            color: #fff;
          }
        }
      }

      .social-text {
        padding-left: 5px;
        display: inline;
      }

      .social-icon {
        width: 15px;
        height: 15px;
        margin-bottom: 5px;
      }
    }
  }

  .hamburguer-menu-trigger input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
  }

  .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    background: $color-principal;

    &:before,
    &:after {
      content: '';
      width: 50%;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .menu-social {
    padding: 0.5em;
    position: relative;

    &:after {
      top: 55%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .menu-items {
    visibility: hidden;
  }

  .menu-social {
    padding: 0.5em;
    position: relative;

    ul {
      li {
        background-position: center center;
        background-size: 30px auto;
        position: relative;
        padding: 5px 0px 0px 5px;

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-left: 35px;
    z-index: 99;
  }
  .carousel-text {
    font-size: 1.5rem !important;
  }
  #estudio {
    .article_container {
      flex-direction: column;
      .equipo-img {
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px and orientation portrait) {
  #estudio {
    .article_container {
      flex-direction: row;
    }
  }
}

// @media screen and (max-width: 1440px) {
//   .carousel-caption {
//     width: 34%;
//   }
//   #caption_2, #caption_3 {
//     margin-left: 0 !important;
//   }
// }

// @media screen and (max-width: 2560px) {
//   .carousel-caption {
//     width: 34%;
//   }
//   #caption_2, #caption_3 {
//     margin-left: 0 !important;
//   }
// }