.hamburguer-menu-trigger {
  display: none;
}

.menu {
  background: $color-principal;
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  font-size: 1.5rem;
  color: $color-secundario;
  font-weight: 700;

  a {
    color: $color-secundario;

    &:hover {
      text-decoration: none;
    }
  }
  // .menu-logo {
  //   background-color: $color-blanco;
  //   height: 15vh;
  //   .logo {
  //     padding: 25%;
  //   }
  // }

  .menu-items {
    ul {
      list-style: none;
      height: 70vh;
      margin: auto;
      padding: 25%;

      li {
        &:focus,
        &:active {
          outline: none;
        }

        a:hover {
          text-decoration: none;
          color: $color-secondary-text;
        }
      }
    }
  }

  .menu-social {
    background: $color-secundario;
    color: $color-secondary-text;
    text-align: left;
    font-size: 1rem;
    height: 30vh;

    ul {
      list-style: none;
      margin: auto;

      li {
        padding: 0;
        a {
          color: $color-secondary-text;
          & :hover {
            outline: none;
          }
        }
      }
    }

    .social-text {
      padding-left: 6px;
      font-weight: normal;
    }

    .social-icon {
      display: inline;
      width: 15px;
      margin-bottom: 3px;
    }
  }
}

.menu-items {
  position: relative;
}

#side-menu li a,
#side-menu li {
  position: relative;
  z-index: 2;
}

#side-menu li a:before {
  background: transparent;
}
#side-menu li a:hover {
  color: #000;
}

#side-menu li a:before {
  content: "";
  width: 0%;
  height: 3px;
  background: white;
  color: black;
  position: absolute;
  top: 15px;
  left: -5px;
  z-index: -1;
  transition-timing-function: cubic-bezier(0.8, 0.09, 1, 0.44);
  transition-delay: 400ms;
  transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
}

#side-menu li a:hover:before {
  content: "";
  width: 110%;
  height: 3px;
  position: absolute;
  left: -5px;
  z-index: -1;
  top: 15px;
}
.menu-transition {
  content: "";
  width: 125%;
  border-bottom: 2px solid transparent;
  outline: 1px solid #fff;
  outline-offset: -19px;
}
