body {
  color: #000;
  padding-left: 240px;
}

.secciones {
  padding-left: 15vh;
  height: 100vh;
}

.secciones .titulo-seccion {
  padding-top: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 99;
}

#estudio {
  overflow: hidden;
}

.el-equipo {
  background-image: url= "(../images/equipo.jpg)";
  float: left;
  height: 70vh;
}

.el-equipo img {
  width: 480px;
}

.frase-estudio {
  float: right;
  width: 480px;
  position: relative;
  padding-right: 100px;
}

.frase-estudio #btn-equipo {
  position: absolute;
  right: 20%;
  bottom: -157%;
  height: 60px;
  width: 200px;
  background-color: #ff0a7e;
  font-weight: bold;
  border-radius: 0px;
}

.frase-estudio #btn-equipo a {
  height: 60px;
  width: 60px;
  background-color: #000;
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 19px;
  margin-right: -45px;
  margin-left: 0px;
}

.logo-domo img {
  position: fixed;
  top: 2vh;
  width: 80px;
  height: 80px;
  left: 31vh;
  z-index: 90;
}

main {
  position: relative;
  height: 100vh;
}

main .sections-content {
  position: absolute;
  border-radius: 20px;
  font-size: 1rem;
}

.hamburguer-menu-trigger {
  display: none;
}

.menu {
  background: #ff0a7e;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
}

.menu a {
  color: #000;
}

.menu .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  padding: 24px;
}

.menu .menu-social {
  background: #000;
  color: #fff;
  text-align: left;
  font-size: 1rem;
  padding: 5% 0% 5% 0%;
  height: 30vh;
  justify-content: center;
}

.menu .menu-social ul {
  list-style: none;
}

.menu .menu-social ul li {
  height: auto;
  padding: 0.5em 1em 0em 1.5em;
}

.menu .menu-social ul li a {
  color: #fff;
}

.menu .menu-social .social-text {
  padding-left: 6px;
  font-weight: 400;
}

.menu .menu-social .social-icon {
  width: 15px;
  margin-bottom: 3px;
}

.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 40px 0px 0px 0px;
}

.menu ul li {
  padding: 0.8em 0.5em 0.8em 1.2em;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}

.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li:focus {
  outline: none;
}

#proyectos .project-content {
  display: flex;
}

#proyectos .project-content .project-text {
  height: 80vh;
  width: 30vw;
  padding-right: 5%;
  background-color: white;
  font-size: 1.2rem;
}

#proyectos .project-content #btn-proyecto {
  align-items: flex-end;
  position: absolute;
  height: 60px;
  width: 200px;
  background-color: #ff0a7e;
  font-weight: bold;
  border-radius: 0px;
  right: 60%;
  bottom: -185%;
}

#proyectos .project-content #btn-proyecto a {
  height: 60px;
  width: 60px;
  background-color: #000;
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 19px;
  margin-right: -48px;
  margin-left: 20px;
}

#proyectos .project-content .project-pic {
  height: 80vh;
  width: 30vw;
  background-color: #c5d437;
  background-position: center;
  background-size: cover;
}

#proyectos .project-pic {
  height: 80vh;
  width: 30vw;
  background-color: #c5d437;
  background-position: center;
  background-size: cover;
}

#premios .content {
  display: flex;
  height: 100vh;
  width: 100%;
}

#premios .content .miembro {
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 250px;
  border: 0.5px solid #000;
  margin: 10px 5px 0px 0px;
}

#premios .content .miembro .texto {
  text-align: center;
  padding: 5%;
  margin-top: 10%;
}

#premios .content .miembro .texto:hover {
  font-weight: 600;
}

#premios .content .more {
  position: absolute;
  bottom: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-start;
  height: 40px;
  width: 40px;
  background-color: #000;
}

.carousel-caption {
  right: 5%;
}

.carousel-text {
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  margin-left: 40%;
  padding: 2%;
  margin-bottom: 10%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.carousel-indicators li {
  height: 15px;
  width: 15px;
}

.carousel-indicators .active {
  background-color: #ff0a7e;
}

.container-portada {
  padding-left: 0px;
  padding-right: 0px;
}

#testimonio .review_content {
  margin: 0;
  padding: 0;
  display: flex;
  width: 800px;
  height: 500px;
  background-color: aqua;
}

#testimonio .review_content .reviewer {
  margin: 0;
  padding: 0;
  justify-content: baseline;
}

#testimonio .review_content .reviewer .reviewer_pic {
  height: 70%;
  margin: 0;
}

#testimonio .review_content .reviewer .reviewer_pic img {
  margin: 0;
  height: 100%;
}

#testimonio .review_content .reviewer .reviewer_name {
  height: 30%;
  padding: 10%;
  background-color: #000;
}

#testimonio .review_content .review {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: blue;
}

#testimonio .review_content .review .review_text {
  align-self: center;
  font-size: 1em;
  margin-left: 15%;
  text-align: left;
}

#testimonio .review_content .review .arrows {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

#testimonio .review_content .review .arrows .arrow_left {
  flex-direction: row;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  padding: 15%;
  background-color: #ff0a7e;
  color: #000;
}

#testimonio .review_content .review .arrows .arrow_right {
  flex-direction: row;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  padding: 15%;
  background-color: #000;
  color: white;
}

#testimonio .review_content .review .mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

#testimonio .review_content .review .radio-label {
  font-size: 16px;
  color: #474747;
  margin-left: 2%;
}

#testimonio .review_content .review .mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

#testimonio .review_content .review .mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

#testimonio .review_content .review .novedades {
  padding: 30px 0 0 0;
}

#testimonio .review_content .review .mat-div:after,
#testimonio .review_content .review .mat-div:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

#testimonio .review_content .review .mat-div::after {
  transform: scaleX(0);
}

#testimonio .review_content .review .is-active::after {
  transform: scaleX(1);
}

#testimonio .review_content .review .is-active .mat-label {
  color: #ff0a7e;
}

#testimonio .review_content .review .is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}

#testimonio .review_content .review .dropdown .btn {
  padding-left: 0px;
  padding-bottom: 16px;
  color: #e2e2e2;
}

#testimonio .review_content .review .dropdown.show .btn {
  color: #ff0a7e;
}

#testimonio .review_content .review .dropdown-menu .dropdown-item {
  color: #ff0a7e;
}

#testimonio .review_content .review .contact {
  padding-left: 0px;
  margin-top: 50%;
  font-size: 1.2rem;
  font-weight: 200;
}

#testimonio .review_content .review ul {
  list-style: none;
}

#testimonio .review_content .review ul a {
  color: #000;
}

#testimonio .review_content .review ul a:hover {
  color: #ff0a7e;
}

#testimonio .review_content .review ul li p {
  margin-bottom: 0px;
}

#testimonio .review_content .review .contact {
  padding-left: 0px;
  margin-top: 50%;
  font-size: 1.5rem;
}

#testimonio .review_content .review ul {
  list-style: none;
}

#testimonio .review_content .review ul a {
  color: #000;
}

#testimonio .review_content .review ul a:hover {
  color: #ff0a7e;
}

#testimonio .review_content .review ul li p {
  margin-bottom: 0px;
}

#testimonio .review_content .review #testimonio .review_content {
  margin: 0;
  padding: 0;
  display: flex;
  width: 800px;
  height: 500px;
  background-color: aqua;
}

#testimonio .review_content .review #testimonio .review_content .reviewer {
  margin: 0;
  padding: 0;
  justify-content: baseline;
}

#testimonio .review_content .review #testimonio .review_content .reviewer .reviewer_pic {
  height: 70%;
  margin: 0;
}

#testimonio .review_content .review #testimonio .review_content .reviewer .reviewer_pic img {
  margin: 0;
  height: 100%;
}

#testimonio .review_content .review #testimonio .review_content .reviewer .reviewer_name {
  height: 30%;
  padding: 10%;
  background-color: #000;
}

#testimonio .review_content .review #testimonio .review_content .review {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

#testimonio .review_content .review #testimonio .review_content .review .review_text {
  align-self: center;
  font-size: 1em;
  margin-left: 15%;
  text-align: left;
  color: #000;
}

#testimonio .review_content .review #testimonio .review_content .review .arrows {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

#testimonio .review_content .review #testimonio .review_content .review .arrows .arrow_left {
  flex-direction: row;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  padding: 15%;
  background-color: #ff0a7e;
  color: #000;
}

#testimonio .review_content .review #testimonio .review_content .review .arrows .arrow_right {
  flex-direction: row;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  padding: 15%;
  background-color: #000;
  color: white;
}

#testimonio .review_content .review #reviews {
  margin-left: 5vh;
  color: white;
}

#testimonio .review_content .review .send-button {
  padding: 10%;
}

#testimonio .review_content .review .send-button .btn {
  width: 400px;
  font-size: 1.2rem;
  background-color: #ff0a7e;
  color: #fff !important;
  border-radius: 0px;
}

#testimonio .review_content .review .send-button .btn:hover {
  cursor: pointer;
  background-color: white;
  border-color: #ff0a7e;
  color: #ff0a7e !important;
}

#testimonio .review_content .review footer {
  border-top: 2px;
  border-color: black;
  margin-bottom: 40px;
}

#testimonio .review_content .review footer img {
  width: 100px;
}

#testimonio .review_content .review footer .designedBy p {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  #testimonio .review_content .review .carousel-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #testimonio .review_content .review body {
    padding-left: 35px;
  }
  #testimonio .review_content .review .menu {
    width: 45px;
    /*
     * Just a quick hamburger
     */
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger {
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger span:first-child {
    transform-origin: 0% 0%;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  #testimonio .review_content .review .menu .hamburguer-menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding-top: 25px;
    left: -10px;
    background: #ff0a7e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-items {
    list-style: none;
    padding: 1.5em 0.5em;
    margin: 30px 0px 0px 0px;
    font-weight: 700;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-items li {
    height: 50px;
    padding: 0.5em 1em 0.5em 1.5em;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-items li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-items li:focus {
    outline: none;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social {
    background: #000;
    color: #fff;
    text-align: left;
    font-size: 1rem;
    padding: 5% 5% 0% 5%;
    height: 100vh;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social ul {
    list-style: none;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social ul li {
    height: auto;
    padding: 0.5em 1em 0em 1.5em;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social ul li a {
    color: #fff;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social .social-text {
    padding-left: 5px;
    display: inline;
  }
  #testimonio .review_content .review .menu .hamburguer-menu .hamburguer-menu-social .social-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }
  #testimonio .review_content .review .menu .hamburguer-menu-trigger input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
  }
  #testimonio .review_content .review .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #ff0a7e;
  }
  #testimonio .review_content .review .menu .smartphone-menu-trigger:before, #testimonio .review_content .review .menu .smartphone-menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  #testimonio .review_content .review .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  #testimonio .review_content .review .menu .menu-items {
    visibility: hidden;
  }
  #testimonio .review_content .review .menu ul li {
    padding: 0;
  }
  #testimonio .review_content .review .menu .menu-social {
    padding: 0.5em;
    position: relative;
  }
  #testimonio .review_content .review .menu .menu-social ul li {
    background-position: center center;
    background-size: 30px auto;
    position: relative;
    padding: 5px 0px 0px 5px;
  }
  #testimonio .review_content .review .menu .menu-social ul li span {
    display: none;
  }
  #testimonio .review_content .review .carousel-text {
    font-size: 1rem;
  }
  #testimonio .review_content .review .contact {
    margin-top: 10%;
    text-align: center;
  }
  #testimonio .review_content .review .send-button {
    padding: 10% 0% 10% 0%;
  }
  #testimonio .review_content .review #contacto {
    padding-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  #testimonio .review_content .review .carousel-text {
    font-size: 0.8rem;
  }
}
