@import "variables";
@import "~bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.side-bar-menu {
  background: $color-principal;
  width: 20%;
  height: 100%;
  display: inline-block;
  position: fixed;
  ul {
    li {
      list-style-type: none;
      padding: 10px 0;
      a {
        text-decoration: none;
        color: #000;
        transition: all 0.3s ease-in-out;
        font-size: 1.5rem;
        &.active {
          color: #fff;
          padding-left: 20px;
          transition: all 0.3s ease-in-out;
          font-weight: 700;
          border-left: 3px solid #fff;
        }
      }
    }
    padding: 10px 20px;
    color: #fff;
  }
}

.content-main-right {
  width: 80%;
  right: 0;
  padding: 20px 40px;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  color: #636363;

  .container {
    border-bottom: 1px solid #d4d4d4;
    margin: 20px auto;
    padding: 10px 0 50px 0;
  }
}
