// @import '~bootstrap/scss/bootstrap';
@import '_variables';
@import 'index';
@import 'seccion_equipo';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Open Sans',
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}