// Color de fondos
$color-principal: #ff0a7e;
$color-secundario: #000;

// Color de textos
$color-primary-text: #000;
$color-secondary-text: #fff;

// Fuente general
$font-domo: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;

// Tamanos de fuente
$font-article-size: 16px;
