@import "./index.scss";
@import "_variables";
@import "index";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
