.el-equipo {
  background-image: url= '(../images/equipo.jpg)';
  float: left;
  height: 70vh;

  img {
    width: 480px;
  }
}

.col-margin {
  margin-right: 0.5rem;
}

.captionEffect {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.captionEffect {
  .captionImage {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
  }
}

.captionEffect figcaption {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem;
  position: absolute;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
  width: 100%;
}

.captionEffect[data-effect='fade-in'] figcaption {
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
}

.captionEffect[data-effect='fade-in']:hover figcaption {
  opacity: 1;
}

.captionEffect figcaption h2 {
  margin: 0;
  font-size: 0.875rem;
}

.captionEffect figcaption p {
  margin: 0;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.image-social-team {
  width: 30px;
  padding-top: 30px;
  fill: black;
}

.text-hover {
  margin-top: 10% !important;
  text-align: center;
}

.modal-equipo {
  margin: 0 !important;
  padding: 0 !important;
}

.social-icons-team {
  height: 200px;
  background-color: black;
  padding-top: 3rem;
}

.card-team-text {
  padding: 30% 10% 0 10%;
}
