// Inicio footer
.designedBy {
  p {
    // font-family: $fuenteDevPlay;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;

    img {
      width: 100px;
    }
  }
}

// Fin footer
